
.Cell-hours {
    border: 1px solid #06090c;
    background: #313233;
    color: rgb(248, 248, 248);
    opacity: 1;
    padding: 4px;
    text-align: center;
    margin-left: 10%;
}

.HoursColumn {
    max-width: 15%;
    margin: 0;
    padding-right: 0px;
    padding-left: 0p;
    table-layout: fixed;
}

.columns {
  overflow-x: auto;
  padding-left: 0px;
  table-layout: fixed;

}
.table tbody tr th {
    position: sticky;
    left: 0;
}

.Cell {
  border: 1px solid #545658;
  padding: 4px;
  text-align: center;
  vertical-align: top;
  height: 45px;
  max-height: 45px;
  position: relative;
  min-width: 100px;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  
}

@media (max-width: 600px) {
  .Cell {
    border: 1px solid #545658;
  padding: 4px;
  text-align: center;
  vertical-align: top;
  height: 45px;
  max-height: 45px;
  position: relative;
  min-width: 25vw;
  max-width: 25vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  }
}

.Cell:hover{
  overflow:visible;
  text-overflow: clip;
}

.Cell-header {
    border: 1px solid #06090c;
    background: #4a4c4e;
    color: #fff;
    padding: 4px;
    text-align: center;
    vertical-align: top;
    max-width: 5%;
  
}



.Cell-fixed {
  position: absolute;
  top: auto;
  left: 0;
  width: 145px;
  white-space: unset;
  text-align: left;
  backface-visibility: hidden;
  background: #fff;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
}