.Table {
  border-spacing: 0px;
  background: #fff;
  box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.05);
  margin-left: 10%;
  width: 80%;
}

.Cell-hours {
    border: 1px solid #06090c;
    background: #313233;
    color: rgb(248, 248, 248);
    opacity: 1;
    padding: 4px;
    text-align: center;
}

.DataTable {
  max-width: 100vw;
  overflow-x: auto;

}
.table thead tr th:first-child {
    position: sticky;
    left: 0;
}

.table tbody tr th {
    position: sticky;
    left: 0;
}

.Cell {
  border: 1px solid #545658;
  padding: 4px;
  text-align: center;
  vertical-align: top;
  min-height: 45px;
  position: relative;
}

.Cell-header {
    border: 1px solid #06090c;
    background: #4a4c4e;
    color: #fff;
    padding: 4px;
    text-align: center;
    vertical-align: top;
    min-width: 10%;
}



.Cell-fixed {
  position: absolute;
  top: auto;
  left: 0;
  width: 145px;
  white-space: unset;
  text-align: left;
  backface-visibility: hidden;
  background: #fff;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
}

.ScrollContainer {
  overflow-x: scroll;
}